<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{ .Title }}</title>

    <link rel="stylesheet" href="/static/css/styles.css" />

    <!-- HTMX -->
    <script src="https://unpkg.com/htmx.org@1.9.12"></script>

    <!-- Alpine.js -->
    <script
      src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"
      defer
    ></script>
  </head>
  <body>
    <header class="header">
      <h1>Multiplayer Card Game</h1>
    </header>

    <main>{{ template "content" . }}</main>
  </body>
</html>
